<h2>About</h2>
<p>Use this website to keep a record of your favorite songs, and feel free to add
  a review to let other user's know about the songs. You have the opportunity to
  sign up to gain increased access within the website.</p>
  <hr>
  <input matInput type="text" placeholder="Search A Song" [(ngModel)]="searchWord">
  <hr>

<mat-accordion multi="true" *ngIf="songs.length > 0">
  <mat-expansion-panel *ngFor="let song of songs | songFilter:searchWord">
    <mat-expansion-panel-header>
      {{ song.title }} by {{ song.artist }}
    </mat-expansion-panel-header>
      <p>From album: {{ song.album }} <br>
         Released in: {{ song. year}} <br>
         Comments: {{ song.comment }} <br>
         Track Number: {{ song.track }} <br>
         Genre: {{ song.genre }} <br>
         Header: {{ song.header }} <br>
         Zero Byte: {{ song.zeroByte }}
    </p>
    <hr>
    <div *ngFor="let review of reviews">
      <p *ngIf="review.songName === song.title">
        Rating: {{ review.rating }}
        <br>
        Review: {{ review.review }}
      </p>

    </div>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/review-create', song.id]">Add a Review</a>
      <button mat-button color="warn" (click)="onDelete(song.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="songs.length <= 0">No songs yet</p>
