<!-- a static page consisting of takedown procedure things-->
<mat-card>
  <h1>DMCA Takedown Procedure & Tools</h1>
  <hr>
  <div>
    <h3>Workflow & Usage of Tools</h3>
    <p>To file a notice of infringing material please complete this form or provide a notification containing the following details:

      Reasonably sufficient details to enable us to identify the work claimed to be infringed or, if multiple works are claimed to be infringed, a representative list of such works (for example: title, author, any registration or tracking number, URL);
      Reasonably sufficient detail to enable us to identify and locate the material that is claimed to be infringing (for example a link to the page that contains the material);
      Your contact information so that we can contact you (for example, your address, telephone number, email address);
      A statement that you have a good faith belief that the use of the material identified in (2) is not authorized by the copyright owner, its agent, or the law;
      A statement, under penalty of perjury, that the information in the notification is accurate and that you are authorized to act on behalf of the owner of the exclusive right that is alleged to be infringed.
      Your physical or electronic signature.</p>

      <h4>Tools</h4>
      <ul>
        <li><em>Logging request</em></li>
        <p>This allows to keep track of the date and time of when requests were received, etc.</p>
      </ul>
      <ul>
        <li><em>Logging notices</em></li>
        <p>This allows to keep track of date of when notices were sent, etc.</p>
      </ul>
      <ul>
        <li><em>Logging disputest</em></li>
        <p>This allows to keep track of date of when a dispute was received, etc.</p>
      </ul>
  </div>
</mat-card>
