<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MusicReviewApp</a>
  </span>
  <span class="void"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Add a Song</a>
    </li>
    <li *ngIf="!userIsAuthenticated && !adminIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated && !adminIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="adminIsAuthenticated">
        <button mat-button routerLink="/add-admin" routerLinkActive="mat-accent" >Add an Admin</button>
    </li>
    <li>
        <button mat-button routerLink="/policy" routerLinkActive="mat-accent" >Security Policy</button>
    </li>
    <li>
        <button mat-button routerLink="/dmca" routerLinkActive="mat-accent" >DMCA Policy</button>
    </li>
    <li *ngIf="userIsAuthenticated || adminIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>

  </ul>
</mat-toolbar>
